
body{
    display:flex;
    background-color: rgb(182, 226, 234);
    margin: 0;
    padding: 0;
    }
    
#heading	
    {
    font-size: 73px;
    width: 1349px;
    height: 90px;
    }
.first{
    margin: 0;
    padding: 0;
    background-color: rgba(190, 32, 221, 0.863);
    font-size: 30px;
   
    }
.nav{
    /* box-sizing: border-box; */
    /* display: inline-block; */
    margin: 3px 0px 0px 0px;
    border: 5px solid gray;
    padding: 0px;
    height: 625px;
    width: 13%;
    float: left;
    background-color: rgba(175, 214, 240, 0.71);
    border-radius: 10px;
    font-size: 30px ;
    color: black; 
}

.component{
    /* box-sizing:border-box; */
    
    margin: 0px;
    border: 5px solid gray;
    padding: 0px;
    height:625px;
    width: 85.5%;
    background-color:rgba(16, 129, 204, 0.705);
    float: left;
    border-radius:10px;
}
.web{
    height: 312px;;
    width:50%;
    background-color: #aab8bb;  
    z-index: 2;
    float: left;
    font-size: 29px;
}
.Desk{
    height: 312px;;
    width: 50%;
    background-color: #b8bed0;
    float:left;
    z-index: 2;
    font-size: 29px;
}
.Mobile{
    height: 312px;;
    width:100%;
    background-color:#bbadad ;
    float:left;
    z-index: 2;
    font-size: 29px;
    
    }


    /*


.web{


    margin: -300px 0px 0px 0px;
    border: 3px solid green;
    padding: 0px 0px 0px 0px;    
    height: 312px;
    width: 40%;
    z-index: 2;
    border-radius: 10px;
    background-color: blue;

}
.Desk{
    box-sizing:border-box;
    margin: 500px 0px 0px 0px;
    border: 3px solid green;
    padding: 0px 0px 0px 0px;    
    height: 500px;
    width: 40vw  ;
    border-radius: 10px;
    background-color: papayawhip;
}
.Mobile{
    box-sizing:border-box;
    margin: 300px 0px 0px 13.5% ;
    padding: 0px 0px 0px 0px;    
    height: 312px;
    width: 82vw;
    border-radius: 10px;
    background-color: darkorange;
} 


*/


}

